@import "../../../include-media.scss";
$breakpoints: (
  phone: 319px,
  largePhone: 575px,
  tablet: 768px,
  desktop: 1075px,
);

.ourService {
  height: 90vh;
  width: 100vw;
  background-color: rgb(227, 227, 227);
  display: flex;
  flex-direction: column;
  .ourServiceHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    justify-content: center;
    text-shadow: 1px 1px 8px rgba(148, 150, 150, 1);
    box-shadow: 0px 8px 39px -5px rgba(1, 1, 1, 0.7);
    text-align: center;
    z-index: 3;
    // background-color: #ba0018;
    h1 {
      color: white;
      margin-top: 0rem;
    }
    span {
      color: white;
      font-weight: bold;
    }
    img.logoImage {
      width: 25%;
      position: fixed;
      top: -1.5rem;
      right: 4rem;
    }
  }
  .ourServiceContent {
    box-shadow: 0px 8px 39px -5px rgba(1, 1, 1, 0.3);
    align-self: center;
    margin-top: 1rem;
    width: 100%;
    background-color: rgba(47, 47, 47, 0.8);
    height: 45vh;
    z-index: 2;
    padding: 1rem;
    .content-heading-pt-1 {
      font-size: 30px;
      font-weight: bold;
      color: #d9534f;
    }
    .content-heading-pt-2 {
      font-size: 30px;
      font-weight: bold;
      color: whitesmoke;
    }
    .content-links {
      margin-top: -0.8rem;
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}
//362
// @include media('>=phone', '>=largePhone'){
//   .ourService {
//     .ourServiceHeader {
//       height: 5vh;
//       h1 {
//         display: none;
//       }
//       span {
//         font-size: 1.2rem;
//       }
//     }
//     .ourServiceContent {
//       height: 100%;
//     }
//   }
// }
@include media('<largePhone') {
  .ourService {
    overflow: scroll;
    .ourServiceHeader {
      height: 10vh;
      z-index: 3;
      h1 {
        display: none;
      }
      span {
        font-weight: bold;
        font-size: initial;
      }
    }
    .ourServiceContent {
      width:  100vw;
      height: 150%;
      margin-left: 15px;
      margin-right: 15px;
      margin-top: 1rem;
      padding: 0;
      .content-links {
        margin: 0;
      }
    }
  }
}
@include media(">=largePhone", "<=desktop") {
  .ourService {
    .ourServiceHeader {
      height: 35vh;
      h1 {
        font-size: 1.8rem;
        margin-top: 3rem;
      }
      span {
        font-weight: bold;
        font-size: 0.7rem;
      }
    }
    .ourServiceContent {
      width: 100vw;
      height: 60vh;
      margin: 0;
      margin-top: 1rem;
        .content-links {
        margin-top: 0;
        }
    }
  }
}
// NEED TO DO 770 to desktop
@include media('>largePhone', '<=desktop') {

}