@import "../../../include-media.scss";
$breakpoints: (
        phone: 320px,
        largePhone: 575px,
        tablet: 768px,
        desktop: 1075px,
);

.faqMain {
  width: 100vw;
  height: 90vh;
  .faqHeader {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 14vh;
    background-color: #ba0018;
    box-shadow: 0px 8px 39px -5px rgba(0, 0, 0, 0.7);
    h1 {
      align-self: flex-start;
      padding-top: 1rem;
      margin-right: 10rem;
      color: whitesmoke;
    }
    span {
      align-self: flex-start;
      color: #d9534f;
      font-weight: bold;
      margin-top: -1rem;
      margin-right: 15rem;
      color: whitesmoke;
    }
  }
  .faqContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 1rem;
    background-color: rgb(47,47,47);

    // margin: 2rem 4rem;
    // width: 90vw;
    // margin-bottom: 1rem;
    // border-radius: 0.5rem;

    width: 100vw;
    p {
      color: whitesmoke;
    }
  }
  .faqBottom {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: rgba(36, 36, 36, 0.9);
    border-radius: 2rem;

  }
  img {
    width: 30%;
    position: absolute;
    z-index: 1;
    bottom: 0rem;
    left: 0rem;
    overflow: hidden;
  }
}

@include media("<phone"){
  .faqMain {
    .faqHeader {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      h1 {
        font-size: 1.1rem;
        margin: auto
      }
      span {
        display: none;
      }
    }
    .faqContent {
      margin: 0 0.5rem;
    }
    img {
      display: none;
    }
  }
}

// SMALL PHONES TO LARGER PHONES
@include media(">=phone", "<=largePhone") {
  .faqMain {
    .faqHeader {
      align-items: center;
      width: 100vw;
      h1 {
        font-size: 1.3rem;
        margin: auto
      }
      span {
        margin: auto
      }
    }
    img {
      display: none;
    }
  }
}
// LARGER PHONES TO DESKTOP
@include media(">=largePhone", "<=desktop") {
  .faqMain {
    .faqHeader {
      text-align: center;
      h1 {
        margin-top: 0.5rem;
        margin: auto;
        font-size: 2rem;
      }
      span {
        text-align: center;
        margin: auto;
      }
    }
    .faqContent {
      height: 80vh;
    }
    img {
      display: none;
    }
  }
}

