.mainButton {
    button {
        background: #ffffff;
        border: 0px;
        border-radius: 0.5rem;
        padding: 15px 43px;
        font-size: 12px;
        font-weight: bold;
        line-height: 1.33;
        letter-spacing: 1.2px;
        color: rgb(199, 10, 10);
    }
    button:hover {
        background: #3f3f3f;
        transition: all 0.3s;
        color: #f3f3f3;
    }
}