.portoProcess {
    height: 100vh;
    background-color: rgba(16, 186, 0, 0.8);
    .processHeader {
        h1 {
            
        }
        p {
            font-size: 25px;
            font-weight: bold;
        }
    }
}