.header {
    position: sticky;
    top: 0;
    background-color: rgba(16, 186, 0, 0.8);
    box-shadow: 0px 8px 39px -5px rgba(0,0,0,0.8);
    h4 {
        display: inline-block;
        color: white;
        font-weight: bold;
        margin-top: 0.5rem;
    }
    .buttonSection {
        display: block;
        text-align: start;
        width: 75vw;
        button {
            background: none;
            border: none;
            color: whitesmoke;
            padding: 0.2rem;
            outline: none;
        }
        .active {
            border-bottom: 2px solid #e7e7e7;
            border-radius: 5px;
            transition: all 0.2ms;
        }
    }
};