.Modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;

  button.hide {
    color: black;
    background-color: rgb(47, 47, 47);
    text-align: center;
  }
}
