@import "../../../include-media.scss";
$breakpoints: (phone: 320px, largePhone: 575px ,tablet: 768px, desktop: 1024px);
$inputColor: whitesmoke;
// Defines the styles for the Email input Component
.mainInput {
  display: flex;
  flex-direction: column;
  input {
    direction: ltr;
    margin: 0;
    border: none;
    border-bottom: 2px solid $inputColor;
    font-size: 15px;
    outline: none;
    background-color: transparent;
    width: 25vw;
    color: $inputColor;
  }
  p {
    width: 25vw;
    color: $inputColor;
    text-transform: uppercase;
    font-size: 17px;
    display: block;
    font-weight: 600;
  }
}
// Defines the styles for the Tracking Number inputs Component
.trackingNumber {
  .mainTrackingInputs {
    span {
      color: $inputColor
    }
  }
  input {
    padding: 0.8rem 1rem;
    margin: 0;
    border: none;
    border-bottom: 2px solid $inputColor;
    font-size: 1rem;
    color: $inputColor;
    outline: none;
    background-color: transparent;
    height: 2vh;
  }
  p {
    color: $inputColor;
    text-transform: uppercase;
    font-size: 17px;
    display: block;
    font-weight: 600;
  }
  .trackingErrorDiv {
    transform: translateY(-7rem);
  }
}
// Defines the styles for the Error Component
.errorBox {
  border-radius: 0.2rem;
  text-align: center;
  margin: 0.5rem;
  // background: rgba(255, 255, 255, 0.5);
  small {
    font-size: 11px;
    font-weight: bold;
  }
}

@include media('>=phone', '<=largePhone') {
  .mainInput {
    input {
      width: 73vw;
    }
    p {
      width: initial;
      margin: 0;
    }
  }
  .trackingNumber {
    display: flex;
    flex-wrap: wrap;
    width: auto !important;
    input {
      width: 20vw;
      font-size: 0.7rem;
    }
    p {
      margin:0;
    }
    .trackingErrorDiv {
      transform: translateY(0.5rem);
    }
  }
}

@include media('>largePhone', '<=desktop') {
  .mainInput {
    input {
      width: 40vw;
    }
    p {
      margin-right: 3rem;
    }
  }
  .trackingNumber {
    display: flex;
    width: 100%;
    input {
      width: 21vw;
      font-size: 0.7rem;
    }
    p {
      margin-left: 1rem;
    }
  }
}