@import "../../../include-media.scss";
$breakpoints: (
  phone: 420px,
  largePhone: 575px,
  tablet: 768px,
  desktop: 1024px,
);

.aboutContainer {
  width: 100vw;
  height: 90vh;
  background-color: rgba(224, 224, 224, 0.8);
  // box-shadow: 0px 8px 39px -5px rgba(0, 0, 0, 0.49);
  section.developers {
    display: flex;
    justify-content: space-around;
    background-color: rgba(47, 47, 47, 0.7);
    padding: 1rem;
    margin: 1.2rem;
    margin-right: 2rem;
    border-radius: 1rem;
    width: 65vw;
    .aboutDeveloper {
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        color: white;
      }
      .linkedInPic {
        margin-bottom: 0.3rem;
        
        img {
          margin: 0.2rem;
        }
      }
    }
  }
  .aboutHeader {
    height: 10vh;
    background-color: #ba0018;
    box-shadow: 0px 8px 39px -5px rgba(0, 0, 0, 0.7);

    h1 {
      margin-right: 10rem;
      text-align: right;
      // color: rgb(47, 47, 47);
      // margin-top: 0.5rem;
      padding-top: 1rem;
      color: whitesmoke;
    }
  }
  .aboutContent {
    padding: 1rem;
    // width: 70vw;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    background-color: rgb(47,47,47);
    .content-text {
      text-align: right;
      margin: 0 3rem;
      margin-top: 1rem;
      p {
        color: whitesmoke;
        font-size: 1.1rem;
      }
    }
  }
  .aboutImage {
    img {
      position: absolute;
      left: 1rem;
      top: 23rem;
      width: 29vw;
    }
  }
}
// VERY SMALL PHONES EDGE CASES 
@include media("<phone") {
  .aboutContainer {
    section.developers {
      display: none;
    }
    .aboutHeader {
      height: 10vh;
      h1 { 
        margin: 0;
        padding-top: 0.5rem;
        text-align: center;
      }
    }
    .aboutContent {
      height: 80vh;
    }
    .aboutImage {
      display: none;
    }
  }
}
// SMALL PHONES TO LARGER PHONES
@include media(">phone", "<=largePhone") {
  .aboutContainer {
    height: 90vh;
    section.developers {
      height: 30vh;
      width: 100vw;
      padding: 1rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      border-radius: 0;
      .aboutDeveloper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        p {
          font-size: smaller;
          margin: 1.5rem;
        }
        .linkedInPic {
          display: none;
        }
      }
    }
    .aboutHeader {
      height: 10vh;
      h1 {
        margin: 0;
        margin-right: 6rem;
      }
    }
    .aboutContent {
      width: 100vw;
      height: 50vh;
    }
    .aboutImage {
      padding: 1rem;
      display: none;
    }
    // .registerLink {

    // }
  }
}
// LARGER PHONES TO DESKTOP
@include media(">=largePhone", "<=desktop") {
  .aboutContainer {
    height: 90vh;
    section.developers {
      height: 40vh;
      width: 100vw;
      padding: 1rem;
      margin: auto;
      // margin-top: ;
      display: flex;
      flex-direction: column;
      border-radius: 0;
      .aboutDeveloper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        p {
          font-size: smaller;
          margin: 1.5rem;
        }
        // .linkedInPic {
        // }
      }
    }
    .aboutHeader {
      height: 10vh;
      h1 {
        margin: 0;
        margin-right: 6rem;
      }
    }
    .aboutContent {
      width: 100vw;
      height: 40vh;
    }
    .aboutImage {
      padding: 1rem;
      display: none;
    }
    .registerLink {
      margin-top: 0.5rem;
      display: flex;
      justify-content: center;
    }
  }
}
