.active {
    border-bottom: 2px solid #e7e7e7;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.2ms;
}

.newBurgerMenu {
    outline: none !important;
    text-decoration: none !important;
    button:focus {
        outline: none !important;
        text-decoration: none !important;
    }
}