@import '../../../include-media.scss';
$breakpoints: (
  phone: 320px,
  largePhone: 575px,
  tablet: 768px,
  desktop: 1700px,
);

.regulationsLink {
    transform: translateY(12rem) translateX(0.5rem);
    list-style: none;
}

.active {
    border-bottom: 2px solid #e7e7e7;
    border-radius: 5px;
    font-weight: bold;
}

.newBurgerMenu {
    outline: none !important;
    text-decoration: none !important;
    button {
        outline: none !important;
        text-decoration: none !important;
    }
    
}

.customButton {
    width: 10vw;
    transform: translateY(0.5rem);
    svg {
        outline: none !important;
        text-decoration: none !important;
        padding: 0 !important;
    }
    button {
        display: none;
    }
}

@include media(">=phone", "<=largePhone") {
    .customButton {
        svg {
            width: 20vw !important;
        }
    }
  }

@include media("<=largePhone", "<=tablet") {
//   .header {
//   }
}

@include media(">=tablet", "<=desktop") {
    // .customButton {
    //     // transform: translateY(-3rem);
    // }
  }